body{
    font-family: 'Poppins', sans-serif;
}
.fa-check-circle{
    color:#5243C2 ;
}
.text-color{
    color:#231D4F;
}
.bg-color{
    background: #3F87F5;
box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
border-radius: 26px;
}

.btn-radi{
    border-radius: 20px;
}
.padding{
    padding: 2px 75px;
}
.padding1{
    padding: 2px 50px;
}
.bg-hot{
    background-color: red;
    border-radius: 15px;
    top: -30px;
    right: 0;
}
.store-radi{
    border-radius: 20px;
    padding: 3px;
}
.bg-footer{
    background-color: #000241;
}
.logo-bg{
    background-color: black;
}
@media only screen and (max-width:688px) {
    .slider-responsive{
        width: 360px;
        height: 500px;
    }
}
